@page "/"
@using System.Linq
@using UTrack
@using UTrack.V1
@inject ApiClient Api

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10">

    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Отслеживание груза</MudText>
    </MudHidden>
    
    <MudPaper Elevation="4" Class="pa-4">
        
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudTextField @bind-Value="_filter.SearchString" 
                          Label="Номер контейнера, маркировка, коносамент" 
                          Variant="Variant.Outlined" 
                          Clearable="true"
                          OnKeyDown="@(e => e.Key == "Enter" ? HandleSearch() : Task.CompletedTask)" />
            <MudButton Variant="Variant.Filled" 
                       Color="Color.Primary" 
                       Size="Size.Large" 
                       OnClick="HandleSearch" 
                       Class="ml-4"
                       Disabled="_isLoading">
                @if (_isLoading) { <MudProgressCircular Size="Size.Small" Indeterminate="true" /> }
                else { <MudText>Найти</MudText> }
            </MudButton>
        </MudStack>

        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart" Class="mt-4" Spacing="4">
            
            <div style="width: 150px;">
                <MudSelect T="CargoFlow"
                           Label="Направление"
                           @bind-Value="_filter.CargoFlow"
                           Variant="Variant.Outlined"
                           Dense="true"
                           Margin="Margin.Dense"
                           Style="width: fit-content; max-width: 150px;">
                    <MudSelectItem Value="CargoFlow.Inbound">На сушу</MudSelectItem>
                    <MudSelectItem Value="CargoFlow.Outbound">На море</MudSelectItem>
                </MudSelect>
            </div>

            <MudCheckBox @bind-Value="_filter.IsContainerUnit"
                         Label="Контейнер"
                         Color="Color.Primary"
                         Dense="true" />

            <MudCheckBox @bind-Value="_filter.IsEmptyContainerUnit"
                         Label="Порожний"
                         Color="Color.Primary"
                         Dense="true"
                         Disabled="!_filter.IsContainerUnit" /> 

        </MudStack>

    </MudPaper>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Class="mt-4">@_errorMessage</MudAlert>
    }

    @if (_track != null)
    {
        <MudCard Class="mt-6" Elevation="4">
            
            <MudCardHeader>
                <CardHeaderContent>                    
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="w-100">
                        
                        <MudText Typo="Typo.h5" Class="flex-grow-1 text-truncate">
                            @_track.Title
                        </MudText>

                        <MudStack Spacing="0" AlignItems="AlignItems.End" AlignSelf="AlignSelf.Start" Class="flex-none">
                            <MudChip T="string"
                                     Color="Color.Info"
                                     Variant="Variant.Text"
                                     Size="Size.Small"
                                     Class="ma-0">
                                от @_track.DeclaredTimestamp.ToStringOrEmpty("dd.MM.yyyy")
                            </MudChip>

                            <MudText Typo="Typo.body2" Class="mud-text-secondary px-2">
                                Количество: @_track.TotalQuantity
                            </MudText>
                        </MudStack>
                        
                    </MudStack>
                </CardHeaderContent>
            </MudCardHeader>
           
            <MudCardContent>

                <MudGrid Spacing="1" Class="mt-2">
                    
                    <MudItem xs="4" sm="3">
                        <MudText Typo="Typo.body1">Судозаход:</MudText>
                    </MudItem>
                    <MudItem xs="8" sm="9">
                        <MudText Typo="Typo.body1" Class="ff-mono">
                            <b>@_track.VesselCallTitle</b>
                        </MudText>
                    </MudItem>

                    <MudItem xs="4" sm="3">
                        <MudText Typo="Typo.body1">Коносамент:</MudText>
                    </MudItem>
                    <MudItem xs="8" sm="9">
                        <MudText Typo="Typo.body1" Class="ff-mono">
                            <b>@_track.BlNumber</b>
                        </MudText>
                    </MudItem>

                    <MudItem xs="4" sm="3">
                        <MudText Typo="Typo.body1">Обработка начата:</MudText>
                    </MudItem>
                    <MudItem xs="8" sm="9">
                        <MudText Typo="Typo.body1" Class="ff-mono">
                            <b>@_track.IsStartedTimestamp.ToStringOrEmpty()</b>
                        </MudText>
                    </MudItem>

                    <MudItem xs="4" sm="3">
                        <MudText Typo="Typo.body1">Обработка завершена:</MudText>
                    </MudItem>
                    <MudItem xs="8" sm="9">
                        <MudText Typo="Typo.body1" Class="ff-mono">
                            <b>@_track.IsFinishedTimestamp.ToStringOrEmpty()</b>
                        </MudText>
                    </MudItem>

                </MudGrid>

                <MudDivider Class="my-4" />

                <MudText Typo="Typo.h6" Class="mb-4">История перемещений</MudText>

                @if (_eventsCount > 5)
                {
                    <MudStack Stretch="Stretch.Always">
                        <MudButton OnClick="ToggleTimeline"
                                   Variant="Variant.Text"
                                   Color="Color.Primary"
                                   Class="w-100"
                                   StartIcon="@(_isExpanded ? Icons.Material.Filled.ExpandLess : Icons.Material.Filled.ExpandMore)">
                            @(_isExpanded ? "Скрыть" : $"Показать еще ({_eventsCount - 5})")
                        </MudButton>
                    </MudStack>
                }
                <MudTimeline TimelinePosition="TimelinePosition.Start">
                    @foreach (var handlingEvent in _visibleEvents)
                    {
                        <MudTimelineItem Color="Color.Primary" Variant="Variant.Filled">
                            <ItemContent>
                                
                                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Class="w-100">
                                    <MudText Typo="Typo.h6">@handlingEvent.TypeRu</MudText>
                                    <MudChip T="string" Color="Color.Info" Variant="Variant.Text" Size="Size.Small">
                                        @handlingEvent.Timestamp.ToString("dd.MM.yyyy HH:mm")
                                    </MudChip>
                                </MudStack>

                                <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="w-100">
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                        <MudIcon Icon="@HandlingEventIcon(handlingEvent)" Color="Color.Primary" />
                                        <MudText Typo="Typo.body2" Class="mud-text-secondary">
                                            @handlingEvent.Location.Title
                                        </MudText>
                                    </MudStack>
                                    <MudText Typo="Typo.body2" Class="mud-text-secondary">
                                        Количество: @handlingEvent.Quantity
                                    </MudText>
                                </MudStack>

                            </ItemContent>
                        </MudTimelineItem>
                    }
                </MudTimeline>

            </MudCardContent>
        </MudCard>
    }
</MudContainer>

    @code {

    private CancellationTokenSource? _cts;

    private bool _isLoading;
    private bool _isExpanded;
    private string? _errorMessage;
    private CargoSearchFilter _filter = new CargoSearchFilter();
    private CargoShipment? _track;
    private int _eventsCount;
    private IEnumerable<CargoHandlingEvent> _visibleEvents = [];


    private void ToggleTimeline()
    {
        _isExpanded = !_isExpanded;
        SetVisibleElements();
    }

    private void SetVisibleElements()
    {
        if (_track is not null)
            _visibleEvents = _isExpanded ? _track.HandlingEvents : _track.HandlingEvents.TakeLast(5);
    }

    private async Task HandleSearch()
    {
        _cts?.Cancel();
        _cts?.Dispose();

        if (string.IsNullOrWhiteSpace(_filter.SearchString)) return;

        _cts = new CancellationTokenSource(TimeSpan.FromSeconds(30));
        _isLoading = true;
        _errorMessage = null;
        _track = null;

        (CargoShipment? track, string error) = await Api.ShipmentSearchAsync(_filter, _cts.Token);

        _isLoading = false;
        _track = track;

        if (_track is null)
            _errorMessage = string.IsNullOrWhiteSpace(error) ? "Груз не найден" : error;
        else
        {
            _eventsCount = _track.HandlingEvents.Count();
            SetVisibleElements();
        }
    }


    private string HandlingEventIcon(CargoHandlingEvent ev) => ev switch
    {
        { Location.Vehicle: not null }  => Icons.Material.Filled.LocalShipping,
        { Location.Vessel: not null }   => Icons.Material.Filled.DirectionsBoat,
        { Location.Yard: not null }     => Icons.Material.Filled.Warehouse,
        { Location.Gate: not null }     => Icons.Material.Filled.MeetingRoom,
        _                               => Icons.Material.Filled.HelpOutline
    };

    public void Dispose()
    {
        _cts?.Cancel();
        _cts?.Dispose();
    }

}