@page "/shipmentList"
@using Vsero.PortTrack.Components
@using LC = Vsero.PortTrack.Resources.LCommon
@using Vsero.UTrcak.V1
@inject ApiClient Api
@inject UserContext UserContext
@inject ISnackbar Snackbar
@inherits PortTrackComponentBase



<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">

    <AlertBarError ErrorMessage="@_errorMessage" />
    <PageLoading IsLoading="@_isLoading" />

    @if (!_shipments.Any() && !_isLoading && String.IsNullOrEmpty(_errorMessage))
    {
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="min-height: 60vh;">
            <MudIcon Icon="@Icons.Material.Filled.Inventory"
                     Style="font-size: 8rem;"
                     Color="Color.Default"
                     Class="mb-4 opacity-50" />
            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Default" Class="mud-text-secondary" Style="white-space: pre-line;">
                @LC.Label_NoShipmentsAdded
            </MudText>
        </MudStack>
    }

    <MudStack Spacing="2" Class="pa-2">
        @foreach (var shipment in _shipments)
        {
            <div @key="shipment.Uuid" style="position: relative; overflow: hidden;">
                <MudSwipeArea OnSwipe="@((SwipeEventArgs e) => ShipmentCard_Swipe(e, shipment))" @key="shipment.Uuid" PreventDefault="false" Sensitivity="100" StopPropagation="true" Class="mud-width-full" Style="touch-action: pan-y; width: 100%;">
                <ShipmentCard @key="shipment.Uuid"
                              OnExpand="ShipmentCard_OnExpand"
                              Shipment="shipment"
                              Expandable="true"
                              Expanded="@_cardStates.GetValueOrDefault(shipment.Uuid, new()).Expanded">
                    <CardActions>
                        @if (UserContext.IsTg)
                        {
                            <MudSpacer />
                            <ShipmentCardButton OnClick="@(() => ShipmentCard_Delete(shipment))" Kind="ShipmentCardButton.ButtonKind.Delete" />
                        }
                    </CardActions>
                </ShipmentCard>
            </MudSwipeArea>
            </div>
        }
    </MudStack>

</MudContainer>

<ButtonRefreshFloating OnClick="@GetShipments" />



@code {

    private bool _isLoading;
    private string _errorMessage = string.Empty;
    private List<CargoShipment> _shipments = [];
    private Dictionary<Guid, CardState> _cardStates = [];



    protected override Task OnInitializedAsync()
    {
        _ = GetShipments();
        return base.OnInitializedAsync();
    }



    protected override async Task OnPageBecameVisibleAsync()
    {
        await GetShipments();
    }



    private async Task GetShipments()
    {
        _isLoading = true;
        _errorMessage = string.Empty;
        _shipments.Clear();

        CargoShipment[]? cargoShipments = null;
        var apiTguser = UserContext.ApiTguser();
        if (apiTguser is not null)
        {
            (cargoShipments, _errorMessage) = await Api.NotifyShipmentGetAsync(apiTguser, CancellationToken());
        }

        if (cargoShipments is not null)
        {
            _shipments = cargoShipments.ToList();
            SetupCardStates();
        }

        _isLoading = false;
        StateHasChanged();
    }



    private void ShipmentCard_OnExpand((CargoShipment shipment, bool expanded) args)
    {
        if (!_cardStates.TryGetValue(args.shipment.Uuid, out var state))
        {
            state = new CardState();
            _cardStates[args.shipment.Uuid] = state;
        }
        state.Expanded = args.expanded;
    }



    private async Task ShipmentCard_Delete(CargoShipment shipment)
    {
        bool result = false;
        var apiTguser = UserContext.ApiTguser();
        if (apiTguser is not null)
        {
            (result, _errorMessage) = await Api.NotifyShipmentDeleteAsync(apiTguser, shipment, CancellationToken());
        }

        _shipments.Remove(shipment);
        _cardStates.Remove(shipment.Uuid);
    }



    private async Task ShipmentCard_Swipe(SwipeEventArgs e, CargoShipment shipment)
    {
        if (e.SwipeDirection == SwipeDirection.RightToLeft)
        {
            await ShipmentCard_Delete(shipment);
            Snackbar.Add("ShipmentDeleted", Severity.Info);
        }
    }



    private void SetupCardStates()
    {
        foreach (var shipment in _shipments)
        {
            if (!_cardStates.ContainsKey(shipment.Uuid))
            {
                _cardStates.Add(shipment.Uuid, new());
            }
        }
        ;
    }



    private class CardState
    {
        public bool Expanded { get; set; }
    }

}