@page "/vessels"
@using Vsero.PortTrack.Components
@using Vsero.UTrcak
@using Vsero.UTrcak.V1
@using LP = Vsero.PortTrack.Resources.LVessels
@using LM = Vsero.PortTrack.Resources.LModel
@inject ApiClient Api
@inherits PortTrackComponentBase



@{
    RenderFragment<VesselCall> VesselCard = (call) => __builder =>
    {
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudCard Elevation="2" Class="pa-4 h-100 d-flex flex-column">
                
                @* Заголовок карточки *@
                <div class="mb-2">
                   <div class="d-flex align-center gap-1 flex-grow-1">
                        <MudText Typo="Typo.caption" Class="mud-text-secondary">@call.Stage</MudText>
                        <MudSpacer />
                        @if (call.Stage == VesselCallStage.Waiting)
                        {
                            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Warning">@LP.AtAnchor</MudChip>
                        }
                        @if (call.Stage == VesselCallStage.Handling && call.StartUnloadingTimestamp > DateTime.MinValue)
                        {
                            <MudChip 
                                T="string" 
                                Size="Size.Small"
                                Variant="Variant.Outlined"
                                Color="@(call.UnStats.IsUnloaded ? Color.Success : Color.Warning)">
                                @(call.UnStats.IsUnloaded ? LP.Discharged_Vessel : LP.Discharging)
                             </MudChip>
                        }
                        @if (call.Stage == VesselCallStage.Handling && call.StartLoadingTimestamp > DateTime.MinValue)
                        {
                            <MudChip T="string"
                                     Size="Size.Small"
                                     Variant="Variant.Outlined"
                                     Color="Color.Warning">
                                @LP.Loading
                            </MudChip>
                        }
                    </div>
                    <MudText Typo="Typo.h6" Class="text-truncate mt-n1" Color="Color.Primary">
                        @call.Title
                    </MudText>
                </div>

                @* Маршрут *@
                <div class="mb-3">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.Place" Size="Size.Small" Color="Color.Secondary" />
                        <MudText Typo="Typo.body2" Style="font-weight: 500">
                            @call.PortOfDeparture?.Title
                        </MudText>
                        <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Size="Size.Small" />
                        <MudText Typo="Typo.body2" Style="font-weight: 500">
                            @call.PortOfDestination?.Title
                        </MudText>
                    </MudStack>
                </div>
                
                <MudDivider Class="mb-3" />

                @* Тело карточки *@
                <MudStack Spacing="1" Class="flex-grow-1">
                    @if (call.Stage == VesselCallStage.Expected || call.Stage == VesselCallStage.Waiting)
                    {
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.caption">@LP.Expected:</MudText>
                            <MudText Typo="Typo.caption">@call.DeclaredTimestamp.ToStringOrEmpty(LM.DateFormat)</MudText>
                        </div>
                    }
                    @if (call.Stage == VesselCallStage.Waiting)
                    {
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.caption">@LP.AtAnchorSince:</MudText>
                            <MudText Typo="Typo.caption">@call.StartWaitingTimestamp.ToStringOrEmpty(LM.DateTimeFormat)</MudText>
                        </div>
                    }
                    @if (call.Stage == VesselCallStage.Handling && call.Berth is not null)
                    {
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.caption">@call.Berth.TerminalTitle:</MudText>
                            <MudText Typo="Typo.body2">@call.Berth.Title</MudText>
                        </div>
                    }
                    @if (call.Stage == VesselCallStage.Handling && call.StartUnloadingTimestamp > DateTime.MinValue)
                    {
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.caption">@LP.DischargeStart:</MudText>
                            <MudText Typo="Typo.caption">@call.StartUnloadingTimestamp.ToStringOrEmpty(LM.DateTimeFormat)</MudText>
                        </div>
                    }
                    @if (call.Stage == VesselCallStage.Handling && call.StartLoadingTimestamp > DateTime.MinValue)
                    {
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.caption">@LP.LoadStart:</MudText>
                            <MudText Typo="Typo.caption">@call.StartLoadingTimestamp.ToStringOrEmpty(LM.DateTimeFormat)</MudText>
                        </div>
                    }
                    @if (call.DepartureTimestamp > DateTime.MinValue)
                    {
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.caption">@LP.Departure:</MudText>
                            <MudText Typo="Typo.caption">@call.DepartureTimestamp.ToStringOrEmpty(LM.DateTimeFormat)</MudText>
                        </div>
                    }                    
                </MudStack>

                @* Прогресс выгрузки *@
                @if (Processing.Contains(call) && @call.UnStats.TotalPercent > 0)
                {
                    <div class="mt-4">
                        <div class="d-flex justify-space-between mb-1">
                            <MudText Typo="Typo.caption">@LP.Discharged_Cargo</MudText>
                            <MudText Typo="Typo.caption">@call.UnStats.TotalPercent %</MudText>
                        </div>
                        <MudProgressLinear Color="Color.Info" Value="@call.UnStats.TotalPercent" Class="mud-width-full" />
                    </div>
                }
            </MudCard>
        </MudItem>
    };
}



<PageLoading IsLoading="@_isLoading" />

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <MudAlert Severity="Severity.Error" Class="mt-4">@_errorMessage</MudAlert>
}


<MudContainer MaxWidth="MaxWidth.Large" Class="pa-4">
<MudStack Spacing="8" Class="mt-4">

    @if (Processing.Any())
    {
        <div>
            <MudAlert Severity="Severity.Success" Variant="Variant.Outlined" NoIcon="true" Class="my-2">
                <div class="d-flex align-center gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.Sync" Color="Color.Inherit" />
                    <MudText>@LP.Section_Handling:</MudText>
                </div>
            </MudAlert>
            <MudGrid Spacing="3">
                @foreach (var call in Processing)
                {
                    @VesselCard(call)
                }
            </MudGrid>
        </div>
    }

    @if (Expected.Any())
    {
        <div>
            <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" NoIcon="true" Class="my-2">
                <div class="d-flex align-center gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.EditCalendar" Color="Color.Inherit" />
                    <MudText>@LP.Section_Expacted:</MudText>
                </div>
            </MudAlert>
            <MudGrid Spacing="3">
                @foreach (var call in Expected)
                {
                    @VesselCard(call)
                }
            </MudGrid>
        </div>
    }

    @if (Departured.Any())
    {
        <div>
            <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" NoIcon="true" Class="my-2">
                <div class="d-flex align-center gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Inherit" />
                    <MudText>@LP.Section_Done:</MudText>
                </div>
            </MudAlert>
            <MudGrid Spacing="3">
                @foreach (var call in Departured)
                {
                    @VesselCard(call)
                }
            </MudGrid>
        </div>
    }

</MudStack>
</MudContainer>

@code {

    private bool _isLoading;
    private string _errorMessage = string.Empty;
    private List<VesselCall> VesselCalls { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        _ = GetVesselCalls();
        return base.OnInitializedAsync();
    }



    private async Task GetVesselCalls()
    {
        _isLoading = true;
        _errorMessage = string.Empty;
        VesselCalls.Clear();

        var ct = CancellationToken();
        (IEnumerable<VesselCall>? vesselCalls, _errorMessage) = await Api.VesselCallListAsync(ct);

        _isLoading = false;
        if (vesselCalls is null) return;
        VesselCalls = vesselCalls.ToList();
        StateHasChanged();

    }



    // Категории
    private IEnumerable<VesselCall> Processing => VesselCalls.Where(v =>
        (v.Stage == VesselCallStage.Handling));

    private IEnumerable<VesselCall> Departured => VesselCalls.Where(v =>
        v.Stage == VesselCallStage.Departured);

    private IEnumerable<VesselCall> Waiting => VesselCalls.Where(v =>
        v.Stage == VesselCallStage.Waiting);

    private IEnumerable<VesselCall> Expected => VesselCalls.Where(v =>
        v.Stage == VesselCallStage.Expected);

}