@inherits LayoutComponentBase
@using Microsoft.Extensions.Localization
@using MudBlazor.Services
@using System.Text.Json
@using LP = TrackingPage.Resources.LMainLayout
@inject IBrowserViewportService ViewportService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject UserContext UserContext
<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@UserContext.IsDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>

    @* Широкий экран *@
   <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudAppBar>
            <MudText Typo="Typo.h6">@LP.AppBarTitle</MudText>
            <MudSpacer />
            @LanguageSelectMenu
        </MudAppBar>
        <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="2">
            <MudNavMenu>
                <MudNavLink href="tracking" Icon="@Icons.Material.Filled.Search">@LP.PageTracking</MudNavLink>
                <MudNavLink href="vessels" Icon="@Icons.Material.Filled.DirectionsBoat">@LP.PageVessels</MudNavLink>
                <MudNavLink href="shipmentsList" Icon="@Icons.Material.Filled.ListAlt">@LP.PageShipments</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </MudHidden>

    @* Узкий экран *@
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudAppBar Bottom="true" Fixed="true">
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Search" href="tracking" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.DirectionsBoat" href="vessels" />
            <MudSpacer />
            @LanguageSelectMenu
            <MudSpacer />
        </MudAppBar>
    </MudHidden>
    
    <MudMainContent Class="pt-0 pb-16 pt-md-16 pb-md-0">
        @Body
    </MudMainContent>

</MudLayout>

@code {

    #region RenderFragments

    private RenderFragment LanguageSelectMenu => __builder =>
    {
        <MudMenu Icon="@Icons.Material.Filled.Language" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <MudMenuItem OnClick="@(() => ChangeLanguage("ru-RU"))">
                <div class="d-flex align-center">
                    <span class="mr-2">🇷🇺</span> Русский
                </div>
            </MudMenuItem>
            <MudMenuItem OnClick="@(() => ChangeLanguage("en-US"))">
                <div class="d-flex align-center">
                    <span class="mr-2">🇺🇸</span> English
                </div>
            </MudMenuItem>
        </MudMenu>
    };

    #endregion

    private MudThemeProvider? _mudThemeProvider;
    private MudTheme _theme = Themes.DefaultTheme;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetupUserContext();
            StateHasChanged();
        }
    }

    private async Task SetupUserContext()
    {
        if (_mudThemeProvider is not null)
        {
            var currentBreakpoint = await ViewportService.GetCurrentBreakpointAsync();
            UserContext.IsMobile = currentBreakpoint <= Breakpoint.Sm;
            UserContext.IsDarkMode = await _mudThemeProvider.GetSystemDarkModeAsync();
        }
    }

    private async Task ChangeLanguage(string culture)
    {
        if (UserContext.Culture != culture)
        {
            await JS.InvokeVoidAsync("localStorage.setItem", "selectedCulture", culture);
            // Nav.NavigateTo(Nav.Uri, forceLoad: true);
            await JS.InvokeVoidAsync("location.reload");
        }
    }



}